.container {
  outline: 1px solid black;
  min-height: 30rem;
  display: flex;
  padding: 3rem;
  gap: 1rem;
  max-width: 55rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.left-panel {
  /* flex-grow: 2; */
  /* outline: 1px solid black; */
}

.right-panel {
  outline: 1px solid black;
  flex-grow: 1;
}