nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.6rem;
  outline: 1px solid var(--primary-color);
  min-width: 55rem;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  padding: 3px 5px;
  border-radius: 4px;
}

li a:hover {
  background-color: var(--accent-color);
}
