.container {
  outline: 1px solid var(--primary-color);
  min-height: 30rem;
  display: flex;
  padding: 3rem;
  gap: 1rem;
  max-width: 55rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.right-panel {
  outline: 1px solid var(--primary-color);
  flex-grow: 1;
}