<main class="main-container">
  <div class="calendar-navigator">
    <div>
      <a [routerLink]="'/calendar/' + loadNextDay(false)">Load Previous Day</a>
      <a [routerLink]="'/calendar/' + loadNextDay(true)">Load Next Day</a>
    </div>
    <h3>{{ getWithWeekDayFormat() }}</h3>
  </div>
  <div class="calendar-container">
    <div class="left-panel">
      <app-add-event></app-add-event>
    </div>
    <div class="right-panel">
      <app-schedules></app-schedules>
    </div>
  </div>
</main>